<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <h3>{{ menu|join:" | "}}</h3>


        <h1>Its Working people</h1>
        <ul>
            {% for i in mass%}
                {%if i.Work is not False%}
                    <li>
                        <h2>{{i.name}}</h2>
                        <h2>{{i.age}}</h2>
                        <p><a href="{% url 'post' i.id %}">Читать пост</a></p>
                    </li>
                {%if not forloop.last%}
                    <hr>
                {%endif%}
                {% endif %}

            {% endfor %}
        </ul>

        <script>
            console.log('Hello world')
        </script>
    </div>
</body>
</html>




